@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face{
    font-family: jungle;
    src:url(jungle.ttf);
}

*{
    max-width:100%;
    box-sizing: border-box;
    margin: 0;
    padding:0;    
}

header{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 140px;
    padding: 20px;
    background:rgba(115,167,136,.8);
    margin-bottom: 20px;
}

header a{
    text-decoration: none;
    }

.logo{
    background: url(images/logo.png) no-repeat;
    background-size: 100px;
    font-family: jungle;
    font-size: 3rem;
    color:#135e46;
    padding-left:100px;
    text-shadow: 3px 3px black;
    transition: .3s;
}

.logo:hover{
    transform:translate(10px);
    color: white;
}

nav{
    display: flex;
    width:40%;
    justify-content: space-around;
    align-items: center;
}

nav a{
    font-family: jungle;
    color:#b67b65;
    font-size:1.8rem;
    text-shadow:2px 2px black;
    transition: .3s;
}

nav a:hover{
    color:white;
    transform: scale(1.3);
}

.banner{
    display:flex;
    width:100%;
    height: 60vh;
    background:url(images/slothStare.jpg) no-repeat;
    background-position: center;
    background-size:cover;
    align-items: center;
    margin-bottom: 20px;
}

.banner:hover .slothText{
    opacity: 1;
}

.slothText{
    width: 30%;
    height:auto;
    background: rgba(115,167,136,.8);
    border-radius: 10px;
    padding: 15px;
    margin-right:  20px;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Roboto';
    opacity: 0;
    transition: .5s;  
    font-size: 1.1rem;      
}

.meetSloths{
    height:50vh;
    width:100%;
    background: rgba(115,167,136,.8)
}

.sloths{
   width:100%;
   display: flex;
   justify-content: space-evenly; 
}

h1{
    font-family: 'Roboto';
    font-size: 1.7rem; 
    color: white;
    text-shadow: 2px 2px black;
    margin:0 0 40px 30px;
    padding-top: 40px;
}

.sloths div{
    width:25%;
    height: 30vh;
    border:5px white solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position:center;
    background-size: cover;

}

.sloth1{
    background:url(images/slothHanging.jpg) no-repeat;
}

.sloth2{
    background:url(images/slothClimbing.jpg) no-repeat;
}

.sloth3{
    background:url(images/slothChilling.jpg) no-repeat;
}

.sloth div div{
    width:70%;
    height:auto;
    background:rgba(115,167,136,.8);
    border-radius: 15px;
    padding:15px;
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Roboto';
    text-align: center;
    opacity: 0;
    transition: .5s;
    
}

.sloths div:hover div{
    opacity: 1;
}




/******* mobile style ***********/

@media(max-width:800px){
    
}

